.form_message{
    position: relative;
    bottom: 0;
    /* left: 2%; */
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 43%;
}

.form_message input {
    width: 70vw;
    /* width: 10px; */
    margin: 0px 10px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.form_message .btn {
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    background-color: gray;
    color: white;
}

.msg_wrapper {
    margin-top: 5px;
    padding: 0px 5px;
}

.msg_wrapper img{
    width: 100%;
    border-radius: 5px;
}

.msg_wrapper p{
    padding: 10px;
    display: inline-block;
    max-width: 50%;
    text-align: left;
    border-radius: 5px;
    color: white;
}

.msg_wrapper small {
    display: inline-block;
    margin-top: 15px;
    opacity: 0.8;
}